@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face{
    font-family: "Malgun Gothic";
    src: url("../fonts/Malgun-Gothic_29381.ttf") format("truetype");
}
@font-face{
    font-family: "MyriadPro";
    src: url("../fonts/myriadpro-semibold.ttf") format("truetype");
}
@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
    .navbar{
        padding: 0 21px;
    }
    .dropdown-menu{
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
    ul.full-menu{
        width: 100%;
    }
    ul.full-menu li.nav-item:first-child{
        background-color: #3dc8bd;
        width: 24%;
    }
    a.nav-link.dropdown-toggle.blue:before {
        position: absolute;
        content: "";
        width: 19px;
        height: 16px;
        background: linear-gradient( #ffffff 1px, #ffffff,
        transparent, transparent 6px,
        #ffffff, #ffffff 9px,
        transparent, transparent 12px,
        #ffffff, #ffffff 16px);
        top: 20px;
        left: 30px;
    }
    a.nav-link.dropdown-toggle.blue:after {
        content: none;
    }
    li.nav-item.dropdown>a {
        display: block;
        font-size: 14px;
        color: white;
        text-align: center;
        font-weight: 600;
    }
    .dropdown .dropdown-menu {
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;

        max-height: 0;
        display: block;
        overflow: hidden;
        opacity: 0;
    }
    .dropdown .dropdown-menu.show {
        max-height: 300px;
        opacity: 1;
    }
    li.nav-item>a{
        padding: 17px 60px 17px 60px;
        text-transform: uppercase;
        font-size: 13px;
    }
    ul.full-menu li.nav-item {
        width: 15%;
        text-align: center;
    }
    ul.full-menu li.nav-item:last-child{
        width: 17.5%;
        position: relative;
    }
    a.nav-link.callback.white {
        display: block;
        background-color: #c60d46;
        padding: 12px 33px;
        position: absolute;
        top: 4px;
    }
    .header-menu{
        position: relative;
        border-top: rgba(226, 230, 233, 0.5) 1px solid;
        border-bottom: rgba(226, 230, 233, 0.5) 1px solid;
    }
    a.phone.blue {
        position: absolute;
        top: 13px;
        right: -7px;
    }
    .banner{
        background: url("../images/csm_Surgical_instruments_traumatology_1920x495_01_aa87c29d65.png") left no-repeat, url("../images/Слой 1.png") repeat-x right 216px;
        height: 446px;
        background-position-x: 50px;
        position: relative;
        margin: 0;
        z-index: 1;
    }
    .banner:after {
        margin-left: 20px;
        width: 236px;
        height: 445px;
        position: absolute;
        content: "";
        top: 0;
        z-index: 5;
        right: 258px;
        transform: skew(24deg);
        background: linear-gradient(to right, #eff1f3 60px, #ffff 60px, #fafafb 77px, #6bdbd5 77px);
        opacity: 0.7;
    }
    .banner:before{
        margin-left: 20px;
        width: 226px;
        height: 445px;
        top: 0;
        position: absolute;
        content: "";
        right: 260px;
        transform: skew(-24deg);
        background:#a3bcca;
        opacity: 0.6;
        z-index: 10;
    }
    .text-banner{
        position: absolute;
        content: "";
        background: url("../images/triangles-png-46460.png") right no-repeat;
        width: 100%;
        height: 100%;
        right: 0;
        z-index: 15;
    }
    .text-banner>p {
        position: absolute;
        right: 95px;
        top: 95px;
        font-family: 'Open Sans';
        font-size: 13px;
        text-align: right;
    }
    .text-banner p:first-child{
        opacity: 0.6;
        font-size: 13px;
        position: relative;
    }
    .text-banner p:first-child:after{
        position: absolute;
        content: "";
        width: 17px;
        height: 5px;
        background: #6bdbd5;
    }
    .text-banner p>span.implant-banner {
         text-align: center;
         text-transform: uppercase;
         font-size: 15px;
         opacity: 1 !important;
     }
    p.responsibility {
        top: 190px;
        text-transform: capitalize;
        font-size: 31px;
        font-weight: bold;
        opacity: 0.9;
    }
    p.reliability {
        font-size: 29px;
        top: 223px;
        text-transform: capitalize;
        opacity: 0.75;
    }
    p.quality {
        font-size: 25px;
        top: 263px;
        text-transform: capitalize;
        opacity: 0.6;
    }
    a.podrobneebtn{
        right: 95px;
        top: 327px;
        position: absolute;
        display: block;
        padding: 17px 45px;
        background-color: #3dc8bd;
        text-transform: uppercase;
        font-size: 13px;
    }
}
.azure{
    color: #3dc8bd;
}
.blue{
    color: #005f8b;
}
.white{
    color: #ffffff;
}
.corbel-font{
    font-family: Corbel;
}
.myriad-font{
    font-family: "MyriadPro";
}
a, a:visited, a:hover{
    text-decoration: none;
}
ul li{
    list-style: none;
}

/*Head*/
.head{
    margin: 52px 0 37px 0;
    position: relative;
}
.lang{
    display: block;
    padding: 15px;
}
.logo{
    padding-bottom:14px;
    position: relative;
}
.logo .blue{
    font-size: 43px;
    margin: 0;
    padding: 0;
    position: relative;
}
.logo .azure {
    font-size: 35.5px;
    position: absolute;
    content: "";
    margin: 0;
    padding: 0;
    width: 90px;
    height: 32px;
    left: 61px;
    top: 31px;
}
.soc-media{
    margin-top: auto;
    width: 130px;
    padding-left: 0;
}
.soc-media li{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #15608b;
}
.navbar-toggler{
    background-color: violet;
    border: 1px solid violet;
}
nav{
    position: absolute;
    content: "";
    color: #005f8b;
}

/*Nav*/



/*Main*/
/*Slider*/
.banner{
    max-width: 1620px;
    margin: 0 auto;
}


.advantages{
    margin-bottom: 84px;
}

.advantages div{
    width: 60px;
    height: 60px;
    position: relative;
    text-align: center;
    padding-top: 90px;
    margin-bottom: 70px;
    text-align: center;
}
.advantages div:after{
    position: absolute;
    content: "";
    height: 60px;
    width: 1px;
    background: #dadada;
    top: 24px;
    right: 0;
}
.advantages div:last-child:after{
    content: none;
}
.planet:before{
    background-image: url("../images/global-outlined-planetary-grid.png");
    background-repeat: no-repeat;
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    top: 24px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
.client:before{
    background-image: url(../images/user.png);
    background-repeat: no-repeat;
    position: absolute;
    content: "";
    width: 51px;
    height: 60px;
    top: 24px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
.clock:before{
    background-image: url("../images/clock.png");
    background-repeat: no-repeat;
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    top: 24px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
.landmark:before{
    background-image: url("../images/placeholder-outline.png");
    background-repeat: no-repeat;
    position: absolute;
    content: "";
    top: 24px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    width: 47px;
    height: 60px;
}

.slider{
    margin-bottom: 15px;
}
h2 {
    font-family: "Open Sans";
    font-size: 16px;
    color: #3dc8bd;
    text-transform: uppercase;
    position: relative;
}
h2:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #3dc8bd;
    top: 26px;
    left: 0;
}
.advantages p{
    font-family: "Malgun Gothic";
    font-weight: normal;
}
.advantages p+p{
    font-family: "Open Sans";
    font-size: 12px;
    color: #6d7276;
    font-weight: lighter;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    content: "";
    top: 125px;
    font-size: 50px;
    color: #898d908c;
    font-weight: 300;
}
.owl-carousel .owl-nav button.owl-next{
    right:0;
}
.owl-carousel .owl-nav button.owl-prev{
    left:0;
}
.owl-carousel .owl-nav button.owl-next:focus,
.owl-carousel .owl-nav button.owl-prev:focus{
    color: #3dc8bd;
    border: none;
    outline:none;
}
.text-center>h4{
    text-transform: uppercase;
    font-size: 13px;
    color: #3b3e3b;
    font-weight: bolder;
}
.owl-carousel .owl-item{
    /*margin: 15px 7.5px 0 7.5px;*/
}
.owl-carousel .owl-item:hover{
    box-shadow: 0 3px 9px rgba(152,152,152,0.35);
}
.margin-btm{
    margin-bottom: 15px;
}
.feedback .owl-item img{
    width: 50%;
    display: block;
    border-radius:50% ;
}